---
title: US States
---

/Navigation Menu
#headerBackground
  %header.mainHeader
    = link_to image_tag('logo.png', alt:'Logo'), '#'
    %nav.mainNav
      %ul
        %li= link_to 'SAMPLE', '#'
        %li
          = link_to 'DROPDOWN', '#'
          %ul
            /Looping elements for the dropdown sub-menu
            - ['Users', 'Staff', 'Managers', 'Delivery'].each do |i|
              %li= link_to i, '#', data: { tabindex: -1 }

.mainContent
  /Left side of the app
  .leftfield 
    %fieldset.searchEntry
      %legend Enter U.S. State
      /Using container/cell for button activity fut
      .container
        .cell
          %input#searchInput{ name:'searchInputName', type:'text',  |
            maxlength:48, tabindex:1 }
          /Initial values are for JavaScript manipulation
          #clearOption{ style:"display: none; opacity: 0;", tabindex:2 }
          %ul#result
      
    %h1#noState
    .stateInfo
      %h1#state Alabama
      = image_tag('./flags/alabama.flag.png', id:'flag', alt:'Alabama flag',
          title:'Alabama flag')
      %ul
        %li
          %span.titleList Capital:
          %span#capital Montgomery
        %li
          %span.titleList Nickname:
          %span#nickname Yellowhammer State
        %li
          %span.titleList Area:
          %span#area_sqmi 52,420.07 sq mi
        %li
          %span.titleList Population (2013):
          %span#population 4,833,722

  //right side of the app
  = image_tag('./maps/alabama.map.png', id:'map', alt:'Alabama map',
      title:'Alabama map')


#info.mainContent
  %a{ href: "https://github.com/ayjaygit/states#readme", target: "_blank" } |
    Learn More about the Technologies demonstrated.

//adding stylesheets and javascript at the bottom
= stylesheet_link_tag 'normalize.css', 'custom.css'
/= javascript_include_tag  'models.js', 'controllers.js' 
= javascript_include_tag  'all.js'
